
## main folder

# Directories

Results/

# R Files

.RData
.RDataTmp
.Rhistory
.Rproj.user

# Old R scripts

Debugging.R
Script_simulation_2step_competing.R
Script_simulation_2step.R
SCript_SIR_exploration.R

# Sample scripts

Hitchings_paper.R

# Data Files
